body{
    font-family: sans-serif;
    margin: 0;
    color: rgb(38, 40, 38);
    display: grid;
    grid-template-areas: "header header header"
                         "navbar main main";
}

code {
    background-color: rgb(234, 234, 234);
    padding: 4px;
    line-height: 24px;
    border-radius: 4px;
    font-size: 16px;
}

a {
    background-color: inherit;
    color: rgb(123, 171, 96);
    text-decoration: none;
}

.header {
    grid-area: header;
    text-align: center;
    border-bottom: rgb(123, 171, 96) solid 4px;
    margin-bottom: 32px
}

img {
    object-fit: scale-down;
    width: 300px;
}

h1 {
    text-align: center;
    font-size: 48px;
}

.navbar {
    background-color: white;
    grid-area: navbar;
    font-size: 16px;
    position: sticky;
    top: 0;
    align-self: baseline;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

.navbar li, .navbar a {
    padding: 16px;
}

.navbar li:hover {
    background-color: rgb(123, 171, 96);
    color: black;
}

.content {
    grid-area: main;
}

.section {
    padding: 0 16px;
    margin-bottom: 24px;
}

.section h2 {
    background-color: rgb(123, 171, 96);
    padding: 16px;
    margin: 0;
}

.section ul {
    list-style-type: none;
}

.section img { 
    display: block;
    margin-left: auto;
    margin-right: auto;
}
